{% extends "default.html" %}
{% block javascript %}
<script>
function classify(data)
{
    $('#classify').attr('disabled', false);

    data = JSON.parse(data);
    if (data['status'] != 'ok'){
        alert(data['status']);
        return;
    }

    var z = data['z'];
    var domain = data['domain'];
    var minimum = domain[0];
    var maximum = domain[1];

    var result = getContour(z, minimum, maximum, domain);
    var contour = result['contour'];
    var x_scale = result['x_scale'];
    var y_scale = result['y_scale'];
    var color_scale = result['color_scale'];

    svg.selectAll(".heatmap").remove();

    svg.selectAll(".heatmap")
        .data(contour.contourList())
        .enter()
        .append("path")
        .style("fill", function(d) {return color_scale(d.level); })
        .style("stroke", "black")
        .style("stroke-width", "1")
        .attr("class", "heatmap")
        .attr("d", d3.svg.line()
              .x(function(d){ return x_scale(d.x); })
              .y(function(d){ return y_scale(d.y); })
             );
    svg.selectAll(".grid")
        .each(function(d, i) {
            this.parentNode.appendChild(this);
        });
    svg.selectAll(".axis")
        .each(function(d,i) {
            this.parentNode.appendChild(this);
        });
    svg.selectAll("circle")
        .each(function(d, i) {
            this.parentNode.appendChild(this);
        });
    svg.selectAll(".grid .tick.major line")
        .style("stroke", "grey");
}
function clear_action()
{
    mouse_left_click_point_set = [];
    mouse_right_click_point_set = [];
    svg.selectAll("circle").remove();
    svg.selectAll(".heatmap").remove();
    svg.selectAll(".grid .tick.major line")
        .style("stroke", "lightgrey");
}
</script>
{% endblock %}
