<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GSoC demos</title>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/classification.css" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Shogun Demos</a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Methods</li>
              <li class="active"><a href="#">Home</a></li>
              <li><a href="binary">Binary</a></li>
              <li><a href="multiclass">Multiclass</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1>Shogun Toolbox Demos</h1>
            <h2>A large scale machine learning toolbox.</h2>
            <p>SHOGUN is designed for unified large-scale learning for a broad range of feature types and learning settings, like classification, regression, or explorative data analysis. </p>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>Binary Classification</h2>
              <p>Support Vector Machines were originally conceived as binary classifiers. Try LibSVM!</p>
            </div><!--/span-->
            <div class="span4">
              <h2>Multiclass Classification</h2>
              <p>Are you tired of binary labels? GMNPSVM is a powerfull multiclass SVM. </p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
    <hr>
      <footer>
        <p>GSoC Demos. <a href="https://github.com/dvalcarce">@dvalcarce</a></p>
      </footer>
    </div><!--/.fluid-container-->
  </body>
</html>
