{% extends "common/default.html" %}
{% block javascript %}
<script>
function clear_action()
{
    point_set = [];
    svg.selectAll(".line")
        .remove();
    svg.selectAll(".area")
        .remove();
    svg.selectAll(".dot").remove();
        svg.selectAll("circle").remove();
    svg.selectAll(".heatmap").remove();
    svg.selectAll(".grid .tick.major line")
        .style("stroke", "lightgrey");
}

function plotMean(data)
{
    json = $.parseJSON(data);

    if (json[0].best_width != 0){
	    $('#sigma').val(json[0].best_width);
    }

    if (json[0].best_sigma != 0){
	    $('#noise_level').val(json[0].best_sigma);}

    if (json[0].best_scale != 0){
	    $('#scale').val(json[0].best_scale);}


    if (svg.selectAll(".line")[0].length == 0)
    {
        svg.append("path")
            .attr("class", "line")
            .attr("d", start(json))
            .style("stroke-width", "3")
            .style("stroke", "green")
            .style("fill", "none");
        svg.selectAll(".line")
            .transition().duration(1000)
            .attr("d", end(json));
    }else{
        svg.selectAll(".line")
            .attr("d", end(json));
    }
    svg.selectAll(".area")
        .remove();
    svg.append("path")
        .datum(json)
        .attr("class", "area")
        .attr("d", area_end(json))
        .style("fill", "rgba(128, 128, 128, 0.25)");
    $("#TrainGP").attr('disabled', false);
}

function TrainGP(data)
{
    svg.selectAll(".heatmap").remove();
    plotMean(data)    
}

function plot_predictive(raw_data)
{
    
    $('#plot_predictive').attr('disabled', false);

    data = JSON.parse(raw_data);
    if (data[0]['status'] != 'ok'){
        alert(data[0]['status']);
        return;
    }

    var z = data[0]['z'];
    var domain = data[0]['domain'];
    var minimum = Math.floor(domain[0]);
    var maximum = Math.ceil(domain[1]);

    var result = getContour(z, minimum, maximum, domain);
    var contour = result['contour'];
    var x_scale = result['x_scale'];
    var y_scale = result['y_scale'];
    var color_scale = result['color_scale'];

    svg.selectAll(".line").remove();

    svg.selectAll(".heatmap").remove();

    svg.selectAll(".heatmap")
        .data(contour.contourList())
        .enter()
        .append("path")
        .style("fill", function(d) {return color_scale(d.level); })
        .style("stroke", "black")
        .style("stroke-width", "1")
        .attr("class", "heatmap")
        .attr("d", d3.svg.line()
              .x(function(d){ return x_scale(d.x); })
              .y(function(d){ return y_scale(d.y); })
             );
    svg.selectAll(".grid")
        .each(function(d, i) {
            this.parentNode.appendChild(this);
        });
    svg.selectAll(".axis")
        .each(function(d,i) {
            this.parentNode.appendChild(this);
        });
    svg.selectAll("circle")
        .each(function(d, i) {
            this.parentNode.appendChild(this);
        });
    svg.selectAll(".grid .tick.major line")
        .style("stroke", "grey");
    $('#legend').html("<span id='lower' style='float:left; color:white;'>" + Math.floor(domain[0]) + "</span><span id='upper' style='float:right; color:white;'>" + Math.ceil(domain[1]) + "</span>") ;

    plotMean(raw_data)

}


  </script>
{% endblock %}
