.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.cursor {
    fill: none;
    stroke: brown;
    pointer-events: none;
}

select.btn {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    width: auto;
}

.dot {
    stroke: #000;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}

.grid path{
    stroke-width: 0;
}

canvas {
    position: absolute;
    z-index: -2;
}

svg {
    position: absolute;
    z-index: -2;
}

div#legend{
    border: 1px solid black;
    height: 20px;
    margin-top: 5px;
}
.container-narrow {
    margin: 0 auto;
    max-width: 1024px;
}
