{% extends "default.html" %}
{% block javascript %}
<script>
function Clear_action()
{
    svg.selectAll(".dot").remove();
    $("#heatmap").remove();
    toy_data = [];
}
function Draw_action()
{
    if (toy_data.length !=0)
        $.ajax(
            {
                url: "generate_matrix",
                type: "POST",
                dataType: 'text',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    toy_data: JSON.stringify(toy_data),
                    kernel_width: document.arguments.kernel_width.value,
                    kernel: document.arguments.kernel.value,
                    degree: document.arguments.degree.value
                },
                beforeSend:function(){
                    $("#Draw").attr('disabled', true);
                },
                success:function(data){
                    heatmap = $.parseJSON(data);
                    $("#heatmap").remove();
                    var dx = heatmap[0].length,
                        dy = heatmap.length;
                    

                    var context = canvas.node().getContext("2d"),
                        image = context.createImageData(dx, dy);
                    for (var y = 0, p = -1; y < dy; ++y)
                    {
                        for (var x = 0; x < dx; ++x) {
                            var c = d3.rgb(color(heatmap[y][x]));
                            image.data[++p] = c.r;
                            image.data[++p] = c.g;
                            image.data[++p] = c.b;
                            image.data[++p] = 128;
                        }
                    }
                    context.putImageData(image, 0, 0);
                    $("#Draw").attr('disabled', false);
                },
                error: function(){
                    $("#Draw").attr('disabled', false);
                    alert("Error Generated!");
                }
            });
    else{
        alert("Sorry, there's no dots to train, generate some, pls");
    }
}
</script>
{% endblock %}
