{% extends "default.html" %}
{% block javascript %}
<script>
function clear_action()
{
    svg.selectAll(".dot").remove();
    $("#heatmap").remove();
    toy_data = [];
}
function generate(data)
{
    $('#generate').attr('disabled', false);

    data = JSON.parse(data);
    if (data['status'] != 'ok'){
        alert(data['status']);
        return;
    }

    z = data['z'];
    var domain = data['domain'];
    var minimum = domain[0];
    var maximum = domain[1];

    svg.selectAll(".heatmap").remove();
    
    var dx = z[0].length;
    var dy = z.length;
    var index = 0;

    color.domain([0, 1]);
    x.domain([0, dx]);
    y.domain([dy, 0]);

    svg.selectAll(".heatmap")
        .data(z).enter()
        .append('g')
        .selectAll('.heatmap')
        .data(Object)
        .enter()
        .append('rect')
        .attr("fill", function(d) { return color(d);})
        .attr("x", function(d,i,j){ return x(i);})
        .attr("y", function(d,i,j){ return y(j);})
        .attr("width", width/dx)
        .attr("height", height/dy);
    svg.selectAll(".grid")
        .each(function(d, i) {
            this.parentNode.appendChild(this);
        });
    svg.selectAll(".axis")
        .each(function(d,i) {
            this.parentNode.appendChild(this);
        });
    svg.selectAll("circle")
        .each(function(d, i) {
            this.parentNode.appendChild(this);
        });
    svg.selectAll(".grid .tick.major line")
        .style("stroke", "grey");
    $('#legend').html("<span id='lower' style='float:left; color:white;'>" + Math.round(domain[0]) + "</span><span id='upper' style='float:right; color:white;'>" + Math.round(domain[1]) + "</span>") ;
}
</script>
{% endblock %}
