{% extends "default.html" %}
{% block stylesheet %} 
      <style>
        body {
          font: 10px sans-serif;
        }

        .axis path,
        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }

        .cursor {
          fill: none;
          stroke: brown;
          pointer-events: none;
        }
        select.btn {
            -webkit-appearance: button;
               -moz-appearance: button;
                    appearance: button;
            width: auto;
        }

        .dot {
          stroke: #000;
        }
        .grid .tick {
            stroke: lightgrey;
            opacity: 0.7;
        }
        .grid path{
              stroke-width: 0;
        }
        </style>
{% endblock %}
{% block javascript %}
      <script>
        var new_points = {"points" : []};
        var margin = {top: 20, right: 20, bottom: 30, left: 40},
            width = 660 - margin.left - margin.right,
            height = 530 - margin.top - margin.bottom;

        var x = d3.scale.linear()
            .range([0, width]);

        var y = d3.scale.linear()
            .range([height, 0]);

        var color = d3.scale.category10();

        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom");

        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left");
        
        x.domain([0,1]).nice();
        y.domain([0,0.8]).nice();

        function make_x_axis() {
            return d3.svg.axis()
                .scale(x)
                 .orient("bottom")
                 .ticks(10)
        }
        function make_y_axis() {
            return d3.svg.axis()
                .scale(y)
                .orient("left")
                .ticks(8)
        }
        
        var svg = d3.select(".span9").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .on("mouseover", function() { circle.attr("display", "red"); })
            .on("mousemove", mousemove)
            .on("mousedown", mousedown)
            .on("mouseout", function() { circle.attr("display", "none"); })
          .append("g")
            .attr("transform", "translate(" + margin.left + "," +
            margin.top + ")")

        svg.append("g")
            .attr("class", "grid")
            .attr("transform", "translate(0," + height + ")")
            .call(make_x_axis()
                .tickSize(-height, 0, 0)
                .tickFormat("")
            )
        svg.append("g")
            .attr("class", "grid")
            .call(make_y_axis()
                .tickSize(-width, 0, 0)
                .tickFormat("")
            )

        var cursor = svg.append("circle")
            .attr("r", 5)
            .attr("transform", "translate(-100,-100)")
            .attr("class", "cursor");
        var circle = svg.append("circle")
            .attr("r", 3)
            .attr("display", "none")
            .style("fill", "red");
        var coordinate = svg.append("text")
            .attr("font-family", "sans-serif");
        var dim2 = {};
        var curve;
        function mousemove() {
          if (d3.mouse(this)[0]-margin.left < 0 || d3.mouse(this)[1]-margin.top > height)
             return;
          cursor.attr("transform", "translate(" + (d3.mouse(this)[0]-margin.left) +","+ (d3.mouse(this)[1]-margin.top) + ")");
          var mouse_x = d3.mouse(this)[0]-margin.left;
          if (mouse_x < width && curve)
          {
            var pos;
            var pathEl = curve.node();            
            for (var i = mouse_x; i < pathEl.getTotalLength(); i+=1) {
              pos = pathEl.getPointAtLength(i);
              if (pos.x >= mouse_x) {
                break;
              }
            }
            var coord_x = x.invert(mouse_x);
            circle
              .attr("cx", x(coord_x))
              .attr("cy", pos.y);
            coordinate
              .text("("+x.invert(mouse_x).toFixed(2)+","+y.invert(pos.y).toFixed(2)+")")
              .attr("x", x(coord_x)+4)
              .attr("y", pos.y);
          }
        }
        function mousedown() {
          if (d3.mouse(this)[0]-margin.left < 0 || d3.mouse(this)[1]-margin.top > height)
             return;
          var point = d3.mouse(this);
          point[0]-=margin.left;
          point[1]-=margin.top;
          svg.append("circle")
            .attr("class",  "dot")
            .attr("r", 3.5)
            .attr("cx", point[0])
            .attr("cy", point[1]);
          new_points.points.push( {"x": x.invert(point[0]).toFixed(3),"y": y.invert(point[1]).toFixed(3)});
        }

        svg.append("g")
           .attr("class", "x axis")
           .attr("transform", "translate(0," + height + ")")
           .call(xAxis)
           .append("text")
           .attr("class", "label")
           .attr("x", width)
           .attr("y", -6)
           .style("text-anchor", "end")
           .text("X-axis");

        svg.append("g")
           .attr("class", "y axis")
           .call(yAxis)
           .append("text")
           .attr("class", "label")
           .attr("transform", "rotate(-90)")
           .attr("y", 6)
           .attr("dy", ".71em")
           .style("text-anchor", "end")
           .text("Y-axis");

        svg.selectAll(".dot")
           .data(new_points.points)
           .enter().append("circle")
              .attr("class", "dot")
              .attr("r", 3.5)
              .attr("cx", function(d) { return x(d.x); })
              .attr("cy", function(d) { return y(d.y); })
              .style("fill", "black")


        json = {}
        function clear_action()
        {
           svg.selectAll(".line")
            .transition()
            .duration(1000)
            .attr("d", start(json))
            .remove();
           svg.selectAll(".dot").remove();
           new_points = {"points" : []};
        }
        var line = d3.svg.line()
           .x(function (d) { return x(d.x_value); })
           .y(function (d) { return y(d.y_value); })
           .interpolate('basis')
        var start = d3.svg.line()
           .x(function (d) {return x(d.x_value); })
           .y(function (d) {return y(0); })
           .interpolate('basis')
   
        
        function regress_action()
        {
            if (new_points.points.length !=0)
              $.ajax(
                    {
                      url:"point",
                      type: "POST",
                      dataType: 'text',
                      data: {csrfmiddlewaretoken: '{{ csrf_token }}',
                             data: JSON.stringify(new_points),
                             C: document.arguments.C.value,
                             tube: document.arguments.tube.value,
                             kernel: document.arguments.kernel.value,
                             sigma: document.arguments.sigma.value,
                             d: document.arguments.d.value},
                      beforeSend: function(){
                             $("#regress").attr('disabled', true);
                             },
                      success: function(data){
                                  json = $.parseJSON(data);
                                  json.forEach(function(d) {
                                    d.x_value = +d.x_value;
                                    d.y_value = +d.y_value;
                                    dim2[x(d.x_value).toFixed(0)] = d.y_value;
                                  });
                                 if (svg.selectAll(".line")[0].length == 0)
                                 curve = svg.append("path")
                                    .attr("class", "line")
                                    .attr("d", start(json))
                                    .style("stroke-width", "2")
                                    .style("stroke", "green")
                                    .style("fill", "none");
                                 svg.selectAll(".line")
                                    .transition().duration(1000)
                                    .attr("d", line(json));
                                 $("#regress").attr('disabled', false);
                               },
        
                      error: function(){
                                   alert("Error Generated!");
                                   $("#regress").attr('disabled', false);
                               }
                    });
             else{
                  alert("Sorry, there's no dot input, click some, pls");
             }
        }
        </script>
{% endblock %}
