<form name="arguments">
  <fieldset>
    {% for argument in panel.panel_property %}
    {% if argument.argument_label %}
    <label> {{ argument.argument_label }} </label>
    {% elif argument.argument_name %}
    <label> {{ argument.argument_name }} </label>
    {% endif %}
    {% if argument.argument_type == 'decimal' %}
    <input type="text" value="{{ argument.argument_default }}" name="{{ argument.argument_name }}" onkeyup="value=value.replace(/[^\d{1,}\.\d{1,}|\d{1,}]/g,'')"></br>
    {% elif argument.argument_type == 'integer' %}
    <input type="text" value="{{ argument.argument_default }}" name="{{ argument.argument_name }}" onkeyup="value=value.replace(/[^\d]/g,'')">
    {% elif argument.argument_type == 'select' %}
    <select name="{{ argument.argument_name }}" id="{{ argument.argument_name }}" >
      {% for item in argument.argument_items %}
      <option value="{{ item }}" {% if item == argument.argument_default %} selected {% endif %}>{{ item }} </option>
      {% endfor %}
    </select> <br/>
    {% elif argument.argument_type == 'button-group' %}
    <div class="btn-group">
      {% for item in argument.argument_items %}
      <button type="button" class="btn btn-small btn-primary" id="{{ item.button_name }}" onclick="{{ item.button_name }}_action();">
        {{ item.button_name }}
      </button>
      {% endfor %}
    </div>
    {% elif argument.argument_type == 'div' %}
    <div {% if argument.argument_id %} id="{{ argument.argument_id}}" {% endif %}
         {% if argument.argument_class %} class="{{ argument.argument_class }}" {% endif %}
         ></div>
    {% endif %}
  {% endfor %}
  </fieldset>
</form>
