{% extends "default.html" %}
{% block javascript %}
      <script>
        toy_data = [];
        var margin = {top: 20, right: 20, bottom: 30, left: 40},
            width = 660 - margin.left - margin.right,
            height = 530 - margin.top - margin.bottom;

        var x = d3.scale.linear()
            .range([0, width]);

        var y = d3.scale.linear()
            .range([height, 0]);

        var color = d3.scale.category10();

        var xAxis = d3.svg.axis()
            .scale(x)
            .orient("bottom");

        var yAxis = d3.svg.axis()
            .scale(y)
            .orient("left");
        
        x.domain([-5,5]).nice();
        y.domain([-4,4]).nice();

        function make_x_axis() {
            return d3.svg.axis()
                .scale(x)
                 .orient("bottom")
                 .ticks(10)
        }
        function make_y_axis() {
            return d3.svg.axis()
                .scale(y)
                .orient("left")
                .ticks(8)
        }
        
        var svg = d3.select(".span9").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
          .append("g")
            .attr("transform", "translate(" + margin.left + "," +
            margin.top + ")")

        svg.append("g")
            .attr("class", "grid")
            .attr("transform", "translate(0," + height + ")")
            .call(make_x_axis()
                .tickSize(-height, 0, 0)
                .tickFormat("")
            )
        svg.append("g")
            .attr("class", "grid")
            .call(make_y_axis()
                .tickSize(-width, 0, 0)
                .tickFormat("")
            )
          svg.append("g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + height/2 + ")")
              .call(xAxis)
             .append("text")
              .attr("class", "label")
              .attr("x", width)
              .attr("y", -6)
              .style("text-anchor", "end")
              .text("X-axis");

          svg.append("g")
              .attr("class", "y axis")
              .attr("transform", "translate(" +width/2 + ", 0)")
              .call(yAxis)
             .append("text")
              .attr("class", "label")
              .attr("transform", "rotate(-90)")
              .attr("y", 6)
              .attr("dy", ".71em")
              .style("text-anchor", "end")
              .text("Y-axis");

        function Clear_action()
        {
           svg.selectAll(".line")
            .transition()
            .duration(1000)
            .attr("d", start(json))
            .remove();
           svg.selectAll(".area")
            .remove();
           svg.selectAll(".dot").remove();
           new_points = {"points" : []};
           toy_data = [];
        }
        var end = d3.svg.line()
           .x(function (d) { return x(d.x); })
           .y(function (d) { return y(d.y); })
           .interpolate('basis')
        var start = d3.svg.line()
           .x(function (d) {return x(d.x); })
           .y(function (d) {return y(0); })
           .interpolate('basis')

        function GenerateToyData_action()
        {
              $.ajax(
                    {
                       url:"create_toy_data",
                       type: "POST",
                       dataType: 'text',
                       data: {csrfmiddlewaretoken: '{{ csrf_token }}',
                              amplitude: document.arguments.amplitude.value ,
                              frequency: document.arguments.frequency.value,
                              noise_level: document.arguments.noise_level.value},
                       beforeSend: function(){$("#GenerateToyData").attr('disabled',true);},
                       success: function(data){
                                   json = $.parseJSON(data)['data'];
                                   svg.selectAll(".dot").remove();
                                   toy_data = json;
                                   svg.selectAll(".dot")
                                      .data(json)
                                      .enter().append("circle")
                                       .attr("class", "dot")
                                       .attr("r", 1.5)
                                       .attr("cx", function(d) { return x(d.x); })
                                       .attr("cy", function(d) { return y(d.y); })
                                       .style("fill", "red")
                                       .style("stroke", "none");
                                   $("#GenerateToyData").attr('disabled', false);
                                },
                        error: function(){alert("Cannot connect to server");
                                          $("#GenerateToyData").attr('disabled', false);}
                     });
        }
        var area_end = d3.svg.area()
          .x(function(d) { return x(d.x);})
          .y0(function(d) { return y(d.range_lower);})
          .y1(function(d) { return y(d.range_upper);});
        function TrainGP_action()
        {
            if (toy_data.length !=0)
              $.ajax(
                    {
                      url:"train",
                      type: "POST",
                      dataType: 'text',
                      data: {csrfmiddlewaretoken: '{{ csrf_token }}',
                             toy_data: JSON.stringify(toy_data),
                             noise_level: document.arguments.noise_level.value,
                             kernel_width: document.arguments.kernel_width.value},
                      beforeSend: function(){$("#TrainGP").attr('disabled', true);},
                      success: function(data){
                                 json = $.parseJSON(data);
                                 if (svg.selectAll(".line")[0].length == 0)
                                   svg.append("path")
                                     .attr("class", "line")
                                     .attr("d", start(json))
                                     .style("stroke-width", "2")
                                     .style("stroke", "green")
                                     .style("fill", "none");
                                svg.selectAll(".line")
                                  .transition().duration(1000)
                                  .attr("d", end(json));
                                svg.selectAll(".area")
                                  .remove();
                                svg.append("path")
                                  .datum(json)
                                  .attr("class", "area")
                                  .attr("d", area_end(json))
                                  .style("fill", "rgba(128, 128, 128, 0.25)");
                                $("#TrainGP").attr('disabled', false);
                               },
                      error: function(){
                                   alert("Error Generated!");
                                   $("#TrainGP").attr('disabled', false);
                               }
                    });
             else{
                  alert("Sorry, there's no dots to train, generate some, pls");
             }
        }
        
        </script>
{% endblock %}
